<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../main.css">
    <title>Hangman</title>
  </head>
  <body>
    <nav>
      <div class="menu">
        <% if (turns < 8) { %>
          <a href="/undo" class="link">Undo</a>
        <% }
        else { %>
          <div class="link">Undo</div>
        <% } %>
        <a href="/share" class="share link">Share</a>

      </div>
    </nav>

    <main>

      <div class="keyboard">
        <% for (i = 0; i < alphabet.length; i++) {
          if (turns > 0) { %>
            <a href="/<%= i %>" class="key"><%= alphabet[i] %></a>
          <% }
          else { %>
            <div class="key"><%= alphabet[i] %></div>
          <% } %>
        <% } %>
      </div>

      <div class="word">
        <input type="text" class="word-space">
        </input>
        <div class="word-button">Guess word
        </div>
      </div>


      <div class="blanks">
        <% for (i = 0; i < currentWord.length; i++) { %>
          <div class="blank">
          <% if (correctLetters != null && correctLetters.indexOf(currentWord[i]) > -1) { %>
            <%= currentWord[i] %>
          <% } %>
          </div>
        <% } %>
      </div>

      <div class="play-again">
        <% let count = 0;
        for (i = 0; i < currentWord.length; i++) {
          if (correctLetters != null && correctLetters.indexOf(currentWord[i]) > -1) {
            count++;
          };
        };
        if (count === currentWord.length && gameWords.length > 1) { %>
          <div>Great job! Play again?</div>
          <a href="/newRound" class="word-button">Yes</a>
          <div class="word-button">No</div>
        <% }
        else if (count === currentWord.length && gameWords.length === 1) { %>
          <div>You won!!!</div>
          <a href="/" class="word-button">Start over</a>
        <% }

        else if (turns === 0) { %>
          <div>You lost :(</div>
          <a href="/" class="word-button">Start over</a>
        <% }
        else { %>
          <%= turns %> guesses left!
        <% } %>
      </div>

    </main>

  </body>
</html>
